 @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Kanit&family=Lobster&family=Noto+Serif:ital,wght@1,300;1,400&family=Teko:wght@300&display=swap');

* {
 margin: 0;
 padding: 0;
 box-sizzing: border-box;
 font-family: "roboto";
}
html{
 scroll-behavior: scroll-smooth;
}
:root {
 --primary-text-color: #fff;
 --secondary-text-color: hsl(55.8, 100%, 54.4%);
 --background-color: hsl(177.5, 28.1%, 11.5%);
 --darked: hsl(52.2, 100%, 51.4%);
 --bold-text: #eee;
 --bg-img: ;
 --nav-bg: hsla(201.3,44%,12.9%,0.9);
 --theme-color: #000;
 --
}
.light {
 --theme-color: #fff;
 --primary-text-color: #000;
 --bold-text: #111;
 --secondary-text-color: hsl(200.8, 100%, 49.9%);
 --background-color: /* hsl(184.3, 33.8%, 89.7%) */ #eee;
 --darked: hsl(201.8, 100%, 46.6%);
 --bg-img: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT1dughtYCgMEcxgW4bYZbRQ5-zMLa-OXR68w&usqp=CAU");
 --nav-bg: hsla(201.3,46.7%,91.7%,0.9);
}
body {
 background: var(--background-color);
 color: var(--primary-text-color);
 max-width: 100vw;
 min-height: 100vh;
 
}
a {
 text-decoration: none;
 color: var(--primary-text-color);
}
.flex {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
}
.fa-bars {
 color: #fff;
 font-size: 1.5rem;
 margin-inline: 4px;
}
.animation {
 max-width: 100vw;
 overflow: hidden;
}
.animation .right-slide-animation {
 opacity: 0;
 transform: translateX(100%);
 transition: all ease 0.8s;
}
.action .right-slide-animation {
 opacity: 1;
 transform: translateX(0);
}
.animation .left-slide-animation {
 opacity: 0;
 transform: translateX(-90%);
 transition: all ease 0.8s;
}
.action .left-slide-animation {
 opacity: 1;
 transform: translateX(0);
}
.hideNav{
transform: translate(100%,-100%) !important;
} 
/*----------------*/
loader {
 max-width: 100vw;
 height: 100vh;
 background: var(--background-color);
 color: var(--primary-text-color);
 overflow: hidden;
 transition: all ease 1s;
}
loader div p {
 font-size: 1.8rem;
 font-weight: 500;
 color: lightyellow;
 text-align: center;
 transition: all ease-out 1s;
 margin-bottom: 8px;
 font-family: 'Lobster';
}
loader div h1 {
 font-size: 2.5rem;
 transition: all ease-out 1.2s;
}
loader div h1 span {
 color: var(--secondary-text-color);
 font-size: 3rem;
}
main {
 display: none;
 overflow: hidden;
}

.slide-animation {
 transform: TranslateX(100%) scale(0.5);
 opacity: 0;
 filter: blur(2px);
}
.rotate-animation {
 transform: rotateY(180deg);
 opacity: 0;
}

/*----------------*/
nav {
 max-width: 100vw;
 position: fixed;
 top: 0;
 left: 0;
 right: 0;
 display: flex;
 justify-content: space-between;
 color: #fff;
 align-items: center;
 background: #111;
 padding: 8px 8px;
 min-height: 45px;
 z-index: 1;
 overflow:hidden;
}
.name h1 {
 font-size: 1.5rem;
 color: #fff;
 letter-spacing: 1.6px;
 font-weight: 600;
 font-family: 'Lobster';
}
.name h1 span {
 font-size: 1.8rem;
 font-weight: 800;
 font-family: 'Lobster';
 color:red;
}
.nav-links {
 color: #fff;
 position: fixed;
 top: 60px;
 right: 0;
 width: 100vw;
 height: 100vh;
 background: var(--nav-bg);
 text-align: center;
 transform: none;
 transition: all ease 0.5s;
 font-weight: 900;
}
.nav-links a {
 margin-inline: 4px;
 margin-block:20px;
 padding: 2px;
 display: block;
 font-size: 1.5rem; 
}
.nav-links a:nth-child(5) {
 margin-right: 0;
}

/*-------------------------*/

theme button {
 border: 2px solid var(--primary-text-color);
 padding: 8px;
 background: transparent;
 font-size: 1rem;
 font-weight:600;
 color: var(--primary-text-color);
 border-radius: 3px;
 backdrop-filter: blur(6px);
} 

/*-------------------------*/
.hero {
 min-height: 90vh;
 display: flex;
 flex-direction: column;
 margin-top: 45px;
 background-image: var(--bg-img);
 background-repeat: no-repeat;
 background-size: cover;
 overflow: hidden;
}
.hero .left-hero {
 padding: 0 20px;
}

.left-hero-texts {
 margin-top: 100px;
}
.hero .left-hero h1 {
 font-size: 3.5rem;
 color: var(--darked);
 font-family: "Sans-Serif";
 position: relative;
 display: inline;
 text-shadow: 1.5px 1.5px 1px var(--primary-text-color);
 transition: all ease 0.6s;
}
.hero .left-hero h1::after {
 content: "";
 position: absolute;
 left: 0;
 bottom: 0;
 width: 0;
 height: 4px;
 background: var(--darked);
 border-radius: 2px;
 transition: all ease 0.5s;
}
.hero .left-hero h1:hover {
 text-shadow: none;
}
.hero .left-hero h1:hover::after {
 width: 100%;
}
.left-hero-texts h4 {
 margin-block: 10px 4px;
 font-size: 1.5rem;
}
.left-hero-texts p {
 font-size: 1.2rem;
 font-weight: 450;
}
.left-hero-texts button {
 font-size: 1.3rem;
 font-weight: 650;
 letter-spacing: 1.5px;
 color: var(--theme-color);
 background: var(--secondary-text-color);
 padding: 10px 15px;
 margin-block: 10px;
 border: none;
 border-radius: 5px;
}
.left-hero-texts button:hover {
 box-shadow: 3px 3px 6px var(--bold-text);
}
.hero .right-hero {
 margin-inline: auto;
}
.hero .right-hero img {
 width: 100vw;
 transition: all ease 0.5s;
 transform: scale(1.25);
}
.hero .right-hero img:hover {
 transform: scale(1.4);
}
/*------------*/

#about {
 width: 100%;
 transition: all ease 0.8s;
}
.heading{
 font-size: 2.5rem;
 text-decoration: underline;
 font-family: "Lobster";
 text-align: center;
 margin-block: 75px 25px;
}

.about-content {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
.about-content .right-texts{
 margin-top: 20px;
 padding: 0 20px;
 text-indent: 50px;
}
.about-content .left-img {
 overflow: hidden;
 justify-content: center;
 height: 50vh;
 width: 40vh;
 border: 3px solid var(--secondary-text-color);
 border-radius: 50%;
}
.about-content .left-img img {
 width: 100%;
 object-fit: cover;
}

/*--------------------*/
.skill,.project{
 width: 250px;
 height:320px;
 display: flex;
 flex-direction: column;
 justify-content: space-evenly;
 align-items: center;
 border: 1px solid var(--primary-text-color);
 margin-block: 25px;
 background: linear-gradient(to top
 right,var(--secondary-text-color),#ccc,#fff);
 color: #000;
 border-radius: 8px;
}
.skill .skill-h{
 font-size: 2rem;
 font-family: "Lobster";
}
.skill .skill-texts{
 text-align: center;
 padding: 0 10px;
 opacity:0.9;
 line-height: 1.3;
}
.skill:hover{
 box-shadow: 3px 3px 6px var(--primary-text-color);
 border: 1px solid var(--secondary-text-color);
 transform: translateY(-20px);
}
.project{
 justify-content: center;
 font-size: 1.5rem;
 font-weight: 800;
 font-family: 'Lobster';
 height: 260px;
 background-size: cover;
 background-position: center;
 background-color: #bbb;
 background-blend-mode: hard-light;
}
.project p{
 font-size: 1rem;
 font-weight: 400;
}
.project:hover{
 box-shadow: 3px 3px 6px var(--primary-text-color);
 border: 1px solid var(--secondary-text-color);
 transform: translateY(-20px);
}
.see-more button{
 border:none;
 padding: 10px;
 font-size: 1rem;
 border-radius: 5px;
 background: var(--secondary-text-color);
}
.see-more button:hover{
 box-shadow: 3px 3px 6px var(--bold-text);
 border:2px solid var(--primary-text-color);
}
/*-------------------*/
#contact{
 width:100vw;
 margin-block: 50px 0;
 padding-block: 20px;
 background: hsla(182,7%,27.8%,0.814);
 color: #fff;
}
#contact .heading{
 margin-block: 25px;
}
.con-details{
 padding-inline: 20px;
 line-height: 1.5;
 font-size: 1.1rem;
}
.con-details .social,.adrs{
 margin-block: 25px;
 color: #fff;
 font-weight: 450;
 min-width: 35vw;
}
.social a{
 margin-inline: 5px;
 font-size: 1.4rem;
}
footer{
 padding:8px; 
 font-weight:400; 
 opacity:0.9;
 background: hsla(183,7%,27.8%,0.814);
 color: #fff;
}









/* -------Media Query for Medium------- */
@media only screen and (min-width: 600px) {
 .name h1 {
  font-size: 1.2rem;
  color: var(--bold-text);
 }
 .name h1 span {
  font-size: 1.7rem;
 }
 nav .bar {
  display: none;
 }
 
 .nav-links {
  display: inline;
  position: relative !important;
  top:0;
  height: auto;
  text-align: right;
  background: none;
  font-weight: 500;
 }
 .hideNav{
  transform: none !important;
 }
 .nav-links a:nth-child(5){
  position: fixed;
  top:70px;
  right:10px;
 }
 .nav-links a{
  display: inline;
  margin-block: 0;
 font-size: 1rem;
 }
 .hero {
  flex-direction: row;
  justify-content: space-between;
 }
 .light {
  --bg-img: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgaAJk1OIL65_0CXAUNYbkB9Vnj-3WAYOoDQ&usqp=CAU");
 }
 .right-hero {
  overflow: hidden;
  margin-inline: 0px !important;
  width: 45vw;
 }
 .right-hero img {
  width: 100% !important;
  object-fit: fill;
 }
 #about{
  min-height: 100vh;
 }
 .about-content{
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
 }
 .about-content .left-img {
 overflow;hidden;
 min-width: 30vw;
 height: 35vw;
 border-radius: 5px;
}
.left-img img {
 width: 100%
}
.about-content .right-texts{
 margin-top: 0;
 margin-left: 20px;
 padding: 10px;
}
.skill,.project{
 margin: 10px 13px;
}
.con-details{
 display: flex;
 justify-content: space-between;
}
}



/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
 .name h1 {
  font-size: 1.3rem;
  color: #fff;
 }
 .name h1 span {
  font-size: 1.8rem;
 }
 .skill{
 margin: 10px 18px;
}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
 ...;
}
